.users-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 99%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 2rem auto;
  font-size: 3rem;
  /* text-align: center;
  color: white; */
}
